<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap CSS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar  bg-primary   navbar-expand-lg">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">Brand Name</a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03">
                <span class="navbar-toggler-icon"></span>

            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">


          <div class="navbar-nav">
            <a class="nav-link" href="#">Home</a>
            <a class="nav-link" href="#">Contact</a>
            <a class="nav-link" href="#">About us</a>
          </div>
        </div>
        <form class="d-flex" >
        <input class="form-control me-2" type="search" placeholder="Search"  data-bs-theme="dark">
        <button class="btn btn-outline-light" type="submit">Search</button>

        </form>
        </div>
       
    </nav>
    <div class="container">
        <h2>Bootstrap Demo</h2>



    <div class="card" style="width: 18rem;">
        <img class="cadr-image-top" src="image.jpg" alt="#">
        <div class="card-body">
            <h5 class="card-title">Photography</h5>
            <p class="card-text">It is an art to capture important things .</p>
            <a href="#" class="btn btn-primary">Know More</a>

        </div>
    </div>








        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam vel optio velit maiores
        nulla soluta impedit eius repellendus! Ratione expedita officiis porro a eligendi est, quam 
        vitae quidem alias. Tempore.
        Magnam neque mollitia ex, maiores quisquam aspernatur obcaecati itaque quo ad nihil ipsam dolores
        incidunt adipisci maxime voluptatum, error illum minus eum tenetur? Eligendi quaerat est saepe incidunt
        necessitatibus cupiditate!
        Ullam magnam minus deleniti ab maxime, labore ipsum incidunt ratione provident quia suscipit animi in molest
        iae. Optio eum pariatur tempore rem aliquid, temporibus minima maiores amet! Ad dolores quasi nam.
        Maiores aut odio neque eaque consequatur nulla fugiat, corporis sit fugit illo nemo exercitationem
        libero nihil molestiae aliquam impedit aperiam deserunt beatae maxime voluptatibus? Vitae vel laudantium
        incidunt velit totam?
        Id similique maxime itaque deleniti omnis magni blanditiis possimus quia perspiciatis! Autem blanditiis et 
        accusantium fugit optio quod dolores sapiente nesciunt. Eligendi veniam eius doloribus eaque nam nulla
        suscipit aliquam!
        </p>
        <button type="button" class="btn btn-outline-danger">btn one</button>
        <button type="button" class="btn btn-outline-success btn-lg">btn two</button>
        <button type="button" class="btn btn-outline-warning btn-sm  disabled">btn three</button>
        <button type="button" class="btn btn-info">btn four</button> 
        <a href="#" class="btn btn-dark">google me</a> 
        <br>
        <h3>Notifications<span class="badge bg-primary rounded-pill">20+</span></h3>
    <button class="btn btn-primary"> Followers
        <span class="badge bg-dark">100+</span>
    </button>    
    
    <button type="button" class="btn btn-primary position-relative">
  Inbox
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    99+
    <span class="visually-hidden">unread messages</span>
  </span>
</button>


    <div class="alert alert-danger" role="alert">download failed please try again</div>
    <div class="alert alert-success alert-dismissible" role="alert">
        Congrats your score is 50 out of 50
    <button class="btn btn-close"  data-bs-dismiss="alert"></button></div>


    <div class="btn-group " role="group">
        <button class="btn btn-primary">left</button>
        <button class="btn btn-primary">middle</button>
        <button class="btn btn-primary">right</button>
    </div>

    </div>

    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>