<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap CSS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Grid System</h2>
        <div class="row">
            <div class="col-6 bg-success">one</div>
            <div class="col-6 bg-danger">two</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2 bg-success">one</div>
            <div class="col-md-8 bg-danger">two</div>
            <div class="col-md-2 bg-success">three</div>
        </div>

        <br>


        <div class="row ">
            <div class="col-md-6 col-xl-4 bg-success">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, quas! Doloribus in ex iusto modi, corporis hic illo. Natus praesentium assumenda ea veritatis aspernatur! Consequatur officiis beatae et enim ea!</div>
            <div class="col-md-6 col-xl-4 bg-warning">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro aliquam at debitis omnis illum quas, ratione iure doloremque in earum dolore, vitae placeat quasi, quia ad dolor? Expedita, voluptas placeat?</div>
            <div class="col-md-6 col-xl-4 bg-danger">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident iure dolorum sed nihil suscipit magnam deleniti maiores rerum dolorem mollitia voluptates asperiores explicabo quod doloremque eligendi nostrum, unde sit perspiciatis.</div>

        </div>
            <br>
            <br>
        <div class="row align-items-end">
            <div class="col bg-success">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, quas! Doloribus in ex iusto modi, corporis hic illo. Natus praesentium assumenda ea veritatis aspernatur! Consequatur officiis beatae et enim ea!</div>
            <div class="col bg-warning">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro aliquam at debitis omnis illum quas, ratione iure doloremque in earum dolore, vitae placeat quasi, quia ad dolor? Expedita, voluptas placeat?Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo recusandae suscipit impedit corrupti, ipsam ut porro dolorum, a atque possimus eligendi optio consequuntur fugit ratione. In qui sapiente commodi quos!</div>
            <div class="col bg-danger align-self-start">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident iure dolorum sed nihil suscipit magnam deleniti maiores rerum dolorem mollitia voluptates asperiores explicabo quod doloremque eligendi nostrum, unde sit perspiciatis.</div>
            <div class="col bg-warning">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, quas! Doloribus in ex iusto modi, corporis hic illo. Natus praesentium assumenda ea veritatis aspernatur! Consequatur officiis beatae et enim ea!</div>
        </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script> 
</body>
</html>